.alerts
	margin: 30px 0 38px
	font-size: 13px
	color: #707070
	border: 1px solid #dedede   
	border-radius: 3px
	border-collapse: separate 
	p
		margin: 15px 0
	+ .button_liquid
		margin-bottom: 30px
	> thead
		
		th
			padding: 15px 0 
			border-left: 1px solid #fff 
			background: #e7e7e7
			&:first-child
				border-left: 0
	> tbody
		td
			padding: 17px 20px 
			border-top: 1px solid #dedede 
			border-left: 1px solid #dedede
			&:first-child
				border-left: 0
			&:last-child
				text-align: center
			&:nth-child(3)
				padding: 0 
	tr
		&:first-child
			td
				border-top: 0
	table
		margin-top: 15px
		border: 1px solid #d3e1e9
		border-collapse: separate 
		text-align: center
		thead
			th
				padding: 5px  14px
				background: #e3edf3 
				border-bottom: 1px solid #d3e1e9 
				border-left: 1px solid #fff
				&:first-child
					border-left: 0
		tr
			&:nth-child(2n)
				td
					background: #f6fafd 
		td
			padding: 5px 15px 
			border-top: 0 
			border-left: 1px solid #d3e1e9 
	.icon-arr-green
		margin-right: 10px
		vertical-align: middle
.alert__table-wrap
	padding: 17px 20px 
.icon-arr-green
	display: inline-block
	+s(check-green)
.is-red
	color: #c23e3e 
.alert__info
	padding: 20px 
	color: #2cabdc 
	border-top: 1px solid #d3e1e9 
	
.button_liquid
	width: 100%
	text-align: center