.filter
	margin-bottom: 30px
	border: 1px solid #dfdfdf
	padding: 25px 
	padding-bottom: 15px 
	border-radius: 3px
	background-color: #e8e8e8
	+clr
	+box
	.col
		padding-right: 5%
	.row__main	
		position: relative 
		width: 65%
		.col
			padding-right: 0
	.col_50
		.col_50
			padding-right: 0
	.row__text
		width: 35%
		white-space: nowrap
		&.to-center
			.input
				width: 75%
	.btn-reset 
		margin-left: 10px
	.row__main_55  
		width: 55%
	.row_inline-82
		width: 82%
		margin-left: 18%
	.row__buttons
		white-space: nowrap
		.button
			width: 100px 
			padding-left: 0
			padding-right: 0
			min-width: 0 
			text-align: center
.filter_my
	padding-left: 0
	padding-right: 0
	.col
		padding-right: 0
	.wrap
		width: 1156px 
		border: 1px solid red 
	.col_11
		width: 326px 
		padding-right: 0 
		.row__text
			width: 100px
		.row__main
			width: 203px  
			padding: 0 
	.col_w326
		width: 326px
	.col_w268
		width: 268px
	.col_w202
		width: 202px
.col
	float: left
	+box
.col_25
	width: 25%
	.row_inline
		.chosen-container
			width: 60% !important
		.btn-add
			position: absolute
			right: 0
			top: 0
.col_50
	width: 50%
.col_8
	width: 8%
.col_20
	width: 20%
	.btn-reset
		margin-top: 20px
		
.table-info
	float: left
	margin-bottom: 30px
	+ftah
	font-size: 14px
	font-weight: bold
	+ button
		float: right
		font-size: 12px      
	span
		color: $blue 
	.icon-flag
		margin-right: 5px
.icon-flag
	display: inline-block
	vertical-align: middle
	+s(flag)

	
