.filter
	margin-bottom: 30px
	border: 1px solid #dfdfdf
	padding: 25px 
	padding-bottom: 15px 
	border-radius: 3px
	background-color: #e8e8e8
	+clr
	+box
	.col
		padding-right: 5%
	.row__main	
		position: relative 
		width: 65%
		.col
			padding-right: 0
	.col_50
		.col_50
			padding-right: 0
	.row__text
		width: 35%
		white-space: nowrap
		&.to-center
			.input
				width: 75%
	.btn-reset 
		margin-left: 10px
	.row__main_55  
		width: 55%
	.row_inline-82
		width: 82%
		margin-left: 18%
	.row__buttons
		white-space: nowrap
		.button
			width: 96px    
			padding-left: 0
			padding-right: 0
			min-width: 0 
			text-align: center
.filter_my
	padding-left: 0
	padding-right: 0
	.col
		padding-right: 0
	.wrap
		margin: 0 auto 
		width: 1156px 
		
	.col_w326
		width: 326px
		.row__text
			width: 100px
		.row__main
			width: 226px
			
	.col_w260
		width: 260px
		.row__text
			width: 122px     
		.row__main
			width: 138px
		.row_small
			.row__main
				width: 132px
	.col_w214
		width: 214px
		.row__text
			width: 82px
		.row__main
			width: 132px
		.chosen-container
			min-width: 56px !important
			width: 56px !important
			.chosen-single
				line-height: 23px
				&:after
					display: none
			span
				display: inline-block
				vertical-align: middle
				margin-right: 0 !important
		.row_small
			.row__text
				padding-left: 10px
				width: 77px
			.row__main
				width: 137px
				
	.col_318
		width: 318px
		.row__text
			width: 130px
		.row__main
			width: 188px
	.col_222
		width: 222px
		.row__text
			width: 100px
		.row__main
			width: 122px
	.col_248
		width: 248px
		.row__text
			width: 126px
		.row__main
			width: 122px
	.col_238
		width: 238px
		.row__text
			width: 116px
		.row__main
			width: 122px
	.col_188
		float: right
		margin-right: 39px
		width: 188px
		.row__main
			width: 188px
	.btn-add
		margin-left: 19px
.col-group
	float: left
.col
	float: left  
	+box
.col_25
	width: 25%
	.row_inline
		.chosen-container
			width: 60% !important
		.btn-add
			position: absolute
			right: 0
			top: 0
.col_50
	width: 50%
.col_8
	width: 8%
.col_20
	width: 20%
	.btn-reset
		margin-top: 20px
		
.table-info
	float: left
	margin-bottom: 30px
	+ftah
	font-size: 14px
	font-weight: bold
	+ button
		float: right
		font-size: 12px      
	span
		color: $blue 
	.icon-flag
		margin-right: 5px
.icon-flag
	display: inline-block
	vertical-align: middle
	+s(flag)

	
