// default layout
.content
	padding-bottom: 20px 
.l
	+clr
	margin-top: 10px 
	margin-bottom: 10px 
	.l-col1
		float: left
		width: 45%
		padding-right: 5%
		border-right: 1px solid #EBEBEB 
		padding-top: 25px 
	.l-col2
		float: right
		width: 45%
		padding-top: 25px 
	&.l_alt
		border-top: 1px solid #EBEBEB 
		padding-top: 10px 
		.l-col1
			width: 30%
		.l-col2
			width: 60%